div.default-gallery-container
	.col-md-12
		h2.default-gallery-title(id="gallery") Gallery
	section.default-gallery
		section.default-gallery-top
			a.default-gallery-link(href='app/img/pine_1.jpg')
				img.default-gallery-img(src='app/img/pine_1.jpg', alt='forest')
			a.default-gallery-link(href='app/img/pine_5.jpg')
				img.default-gallery-img(src='app/img/pine_5.jpg', alt='forest')
			a.default-gallery-link(href='app/img/pine_4.jpg')
				img.default-gallery-img(src='app/img/pine_4.jpg', alt='forest')
			a.default-gallery-link(href='app/img/spruce_1.jpg')
				img.default-gallery-img(src='app/img/spruce_1.jpg', alt='forest')
		section.default-gallery-bottom
			a.default-gallery-link(href='app/img/spruce_3.jpg')
				img.default-gallery-img(src='app/img/spruce_3.jpg', alt='forest')
			a.default-gallery-link(href='app/img/spruce_4.jpg')
				img.default-gallery-img(src='app/img/spruce_4.jpg', alt='forest')
			a.default-gallery-link(href='app/img/beech_1.jpg')
				img.default-gallery-img(src='app/img/beech_1.jpg', alt='forest')
			a.default-gallery-link(href='app/img/beech_3.jpg')
				img.default-gallery-img(src='app/img/beech_3.jpg', alt='forest')
