footer.footer
	.row
		.col-md-12
			nav.navbar.navbar-default
					ul.nav.navbar-nav
						li
							a(href='#about')
								| About 
								span.sr-only (current)
						li
							a(href='#gallery') Gallery
						li
							a(href='#contact') Contact
					address.footer-address eclipsis_dev
