section.form
	.form-container
		form.form-main(action='')
				label.form-main-your-name-label(for='')
					p.form-main-your-name-p
						| Your Name
					input.form-main-your-name-input(type='name')
				label.form-main-your-email-label(for='')
					p.form-main-your-email-p
						| Your Email
					input.form-main-your-email-input(type='email')
				label.form-main-your-message-label(for='')
					p.form-main-your-message-p
						| Your Message
					textarea.form-main-your-message-textarea(name='message')
				label.form-main-button-label(for='')
					input.form-main-button-input(type='submit', value='Send')
