section.contact
	.col-md-12
		h2.contact.contact-title(id="contact") Contact 
		div.contact-container
			div.contact-social-container
				a.contact-social-links(href='')
					i.contact-social-links-items.fa.fa-facebook(aria-hidden='true')
			div.contact-social-container
				a.contact-social-links(href='')
					i.contact-social-links-items.fa.fa-twitter(aria-hidden='true')
			div.contact-social-container
				a.contact-social-links(href='')
					i.contact-social-links-items.fa.fa-amazon(aria-hidden='true')
			div.contact-social-container
				a.contact-social-links(href='')
					i.contact-social-links-items.fa.fa-github(aria-hidden='true')
			div.contact-social-container
				a.contact-social-links(href='')
					i.contact-social-links-items.fa.fa-google(aria-hidden='true')
