div.slider.single-item
	div.header-slider-img1
		h1.header-slider-title Pine Forest
	div.header-slider-img2 
		h1.header-slider-title Spruce Forest
	div.header-slider-img3
		h1.header-slider-title Beech Forest